<html>
    <head>
    </head>

        <body>
            <form class="grid" action="/result" method="POST">


                    <label for = "Name"> Enter duration :</label>
                    <input type="text" name="duration" id="duration">

                         <label for = "Name"> Enter src_bytes :</label>
                    <input type="text" name="src_bytes" id="src_bytes">
                    <label for = "Name"> Enter dst_bytes :</label>
                    <input type="text" name="dst_bytes" id="name">

                    <center><input type= "Submit" class = "file_submit"></center>
               <center>
                    {% if name %}
                    <h3 style= "color: blue;">this Data is {{name}}</h3>
                    {% endif %}
                </center>
            </form>
        </body>

</html>